* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #0c111b;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.brand-logo {
    width: 120px;
}

.nav-links {
    margin-top: 15px;
    display: flex;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    margin-left: 30px;
    color: #fff;
    font-size: 22px;
}

.right-container {
    display: block;
    margin-left: auto;
}

.search-box {
    border: none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    outline: none;
    height: 45px;
    color: #fff;
    width: 350px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 400;
    transition: 0.5s;
}

.search-box:focus {
    width: 450px;
    border-color: blue;
}

.sub-btn {
    background: #1f80e0;
    height: 45px;
    padding: 0 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
}

.login-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 480px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
    border-radius: 25px;
}

.carousel {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background-color: #000;
    border-radius: 25px;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 75%, #0c111b00);
    color: #fff;
    opacity: 0.9;
}

.slide-title {
    padding-left: 70px;
    margin-top: 80px;
    font-size: 40px;
    opacity: 0.9;
    text-transform: capitalize;
}

.slide-des {
    text-transform: capitalize;
    width: 70%;
    line-height: 50px;
    padding-left: 70px;
    margin-top: 30px;
    opacity: 0.9;
    font-size: 22px;
}

.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card {
    position: relative;
    min-width: calc(100%/5 -10px);
    width: calc(100%/5 -10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #030b17;
}

.video-card-image,
.card-video {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card-video {
    position: relative;
    display: none;
}

.video-card:hover .video-card-image {
    display: none;
}

.video-card:hover .card-video {
    display: flex;
}